/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		background: #d9d9d9 url('../images/body-back.png') no-repeat center center;
		background-attachment: fixed;
		color: #555555;
		text-shadow: 0px 1px 0px #fff;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		line-height: 1.5em;
	}

	#treweb-logo {
		width: 100%;
		height: 225px;
		display: block;
		background: transparent url('../images/treweb-logo-horizontal-225.png') no-repeat center center;
		text-indent: -99999px;
		font-size: 1px;
		overflow: hidden;
		margin: 20px 0;
	}

	#tagline {
		text-align: center;
		font-size: 1.4em;
	}

	h2 {
		text-transform: uppercase;
		font-weight: 300;
		margin: 20px 0;
		color: #3c6e9c;
		line-height: 1.2em;
	}

	a {
		color: #b9597f;
		text-decoration: none;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}

	a:hover {
		color: #d77399;
		text-shadow: 0px 0px 3px #d77399;
	}
	
	p {
		margin: 1em 0;
	}

	table {
		border-spacing: 2px 4px;
		margin: 0 -2px;
		padding: 0;
	}

	table tr {

	}

	table tr td {
		vertical-align: top;
		background: #fff;
		background: rgba(255,255,255,0.9);
		padding: 0.2em 0.4em;
		box-shadow: 0px 1px 1px #d0d0d0;
	}

	table tr td.name {
		font-weight: 600;
		color: #3c6e9c;
	}

	#header {
		border-bottom: 1px solid #d0d0d0;
	}

	#tagline {
		border-top: 1px solid #f8f8f8;
		border-bottom: 1px solid #d0d0d0;
	}

	#tagline h2 {
		margin-bottom: 0;
	}

	#tagline p {
		margin-top: 10px;
	}

	#content {
		border-top: 1px solid #f8f8f8;
		border-bottom: 1px solid #d0d0d0;
		padding: 2em 0
	}

	#footer {
		border-top: 1px solid #f8f8f8;
		font-size: 0.8em;
		text-transform: uppercase;
		text-align: center;
		padding-bottom: 2em;
	}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		background-attachment: scroll;
		background-position: center top;
		background-size: 100% auto;
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

	#treweb-logo {
		background-image: url('../images/treweb-logo-horizontal-450.png');
		background-size: 225px 225px;
	}

}